.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loading{
  display: flex;
  color: var(--secondary-color);
  font-size: 1.8em;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}