._2_ezWLoW2HJRAtwiYwSy2y{
  background-color: var(--primary-color);
}
._2dZgdwkujHD6KMMumfHohS{
  text-align: center;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1wLqR2lyDIKKYWsmXMd9BK{
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
._3DTG5PX-p9yKgmbd1kWEiJ{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
._1kv9-h8zfNs6ZoDwF0usti{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
._3NobY0ckVsVP8R81fMT6xB{
  display: flex;
  color: var(--secondary-color);
  font-size: 1.8em;
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
._1JNnmRRuCevEe9tBQ8unn2{
  width: 18%;
  display: block;
  background: var(--secondary-color);
  color: var(--text-color);
  margin-bottom: 10px;
}
._1Yxf042tFfQ3e6ClxYOeAZ{
  width: 100%;
}
._1qqufUWypWYdsrK8q_6gpT{
  font-size: 1.2em;
  text-align: center;
  margin: 10px auto;
}
.YLrmgU1uxaVVEUxbleSlL{
  width: 100px;
}
._10F1KR7rIUbX0ujAyQjaFR{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}
._1Y7OHXDE8Ed-Wasi9_jDl_{
  display: flex;
  justify-content: space-between;
}
._2QwKcDhFypKqtynIC7CFd4 {
  width: 100%;
  width: 40%;
}
._1SX67zrEPejblkZK2eTyfE{
  width: 57%;
  font-size: 1.2em;
  line-height: 1.5em;
}
._2rXA02UtH-j_qfhsc7Owtz{
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
:root{
  --primary-color: #3c948b;
  --secondary-color: #3f3f3f;
  --text-color: #fff;
}

img{
  max-width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

